
.my-profile-header {
    position: relative;
    padding: 30px 0 0;
    z-index: 401;
}

.my-profile-header:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: var(--orangegradient);
}


.header-profile {
    display: flex;
    align-items: center;
    grid-gap: 0 12px;
    gap: 0 12px;
    position: relative;
    margin-left: auto;
    cursor: pointer;
}

.my-profile-header .header-profile .profile-img {
    font-size: 113px;
}

.header-profile .profile-img {
    width: 1em;
    height: 1em;
    font-size: 53px;
    position: relative;
}
.header-profile .bar img {
    width: 60%;
    height: 60%;
    margin-top: 20px;
    margin-left: 22px;
    object-fit: cover;
    border-radius: 100%;
}

.header-profile  .bar em {
    width: 1.5em;
    height: 1.5em;
    font-size: 65px;
    border: 1px solid rgba(var(255,255,255),.2);
    border-radius: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    pointer-events: none;
    transition: .3s font-size,.3s opacity;
}



.my-profile-header .header-profile .header-profile-right {
    display: flex;
    flex-direction: column;
    grid-gap: 17px;
    gap: 17px;
    padding-left: 40px;
    justify-content: flex-start;
    align-items: flex-start;
}

.my-profile-header .my-profile-menu ul {
    display: flex;
    grid-gap: 0 30px;
    gap: 0 30px;
    justify-content: flex-end;
}


@media (max-width: 576px){
    .my-profile-header .my-profile-menu ul li a {
        padding-bottom: 20px;
    }
    .my-profile-header .my-profile-menu ul li a span {
        white-space: normal;
        font-size: 12px;
    }
}

.my-profile-header .my-profile-menu ul li.active a span {
    top: 10px;
    opacity: 1;
}

.my-profile-header .my-profile-menu ul li a span {
    font-size: 18px;
    font-weight: 500;
    color: var(--white);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    white-space: nowrap;
    top: 20px;
    opacity: 0;
    transition: .3s opacity,.3s top;
    pointer-events: none;
}


.my-profile-header .header-profile .header-profile-right .header-profile-right-button {
    padding: 0 20px;
    height: 40px;
    background: rgba(0,0,0,.25);
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 500;
    color: var(--white);
    border-radius: 20px;
    border: 0;
    cursor: pointer;
    transition: .3s background-color;
}

.my-profile-header .header-profile .header-profile-right span {
    font-size: 24px;
    font-weight: 500;
    color: var(--white);
}
.my-profile-header .my-profile-menu ul li a:after {
    content: "";
    border: 20px solid transparent;
    border-bottom: 20px solid var(--green-above-white);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 0;
    transition: .3s opacity;
    opacity: 0;
}
.my-profile-header .my-profile-menu ul li a:hover span {
    top: 10px;
    opacity: 1;
}
.my-profile-header .my-profile-menu ul li.active {
    pointer-events: none;
}
.my-profile-header .my-profile-menu ul li.active a:after {
    opacity: 1;
}
.my-profile-header .my-profile-menu ul li a:after {
    content: "";
    border: 20px solid transparent;
    border-bottom: 20px solid var(--white);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 0;
    transition: .3s opacity;
    opacity: 0;
}
.my-profile-header .my-profile-menu ul li a {
    width: 105px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.my-profile-header .my-profile-menu ul li.active a em div {
    opacity: 1;
}

.my-profile-header .my-profile-menu ul li a em div {
    font-size: 55px;
    color: var(--white);
    opacity: .5;
    transition: .3s opacity;
}
.mat-icon {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    height: 24px;
    width: 24px;
    color: white;
}



.g-0, .gx-0 {
    --bs-gutter-x: 0;
}
 ol, ul {
    margin-top: 0;
    margin-bottom: 0rem !important;
}
@media only screen and (max-width: 1400px){
    .my-profile-header .my-profile-menu ul li a {
        width: 100%;
        height: 100px;
    }
    .my-profile-header .my-profile-menu ul li a em mat-icon {
        font-size: 50px;
    }
    .my-profile-header .header-profile .header-profile-right span {
        font-size: 20px;
    }
    .my-profile-header .header-profile .header-profile-right .header-profile-right-button {
        font-size: 16px;
        height: 35px;
    }
    .my-profile-header .my-profile-menu ul li a span {
        font-size: 16px;
    }
    .my-profile-header .header-profile .profile-img {
        font-size: 100px;
    }
    .header-profile .profile-img {
        font-size: 48px;
    }
    .header-profile .profile-img em {
        font-size: 60px;
    }
    .my-profile-header .header-profile .header-profile-right {
        padding-left: 25px;
        grid-gap: 10px;
        gap: 10px;
    }
    .my-profile-header .my-profile-menu ul {
        grid-gap: 0 20px;
        gap: 0 20px;
    }
    .my-profile-header .my-profile-menu ul li a {
        width: 90px;
        height: 140px;
    }
}
@media (max-width: 768px){
    .my-profile-header .header-profile {
        display: none!important;
    }
    
    .header-profile {
        display: none;
    }
    .my-profile-header {
        padding-top: 10px;
    }
    .my-profile-header:before {
        background: var(--orangegradient);
    }
    .my-profile-header .header-profile {
        display: none!important;
    }
    .header-profile {
        display: none;
    }
    .my-profile-header .my-profile-menu ul li a {
        grid-gap: 5px;
        gap: 5px;
        height: auto;
        padding-bottom: 25px;
        justify-content: flex-start;
    }
    .my-profile-header .my-profile-menu ul li a span {
        white-space: nowrap;
        position: relative;
        left: 0;
        top: 0;
        bottom: 0;
        transform: translate(0);
    }
}
@media (max-width: 992px){
    .my-profile-header .my-profile-menu ul li a em div {
        font-size: 40px;
    }
    .my-profile-header .header-profile .header-profile-right span {
        font-size: 16px;
    }
    .my-profile-header .header-profile .header-profile-right .header-profile-right-button {
        font-size: 14px;
        height: 30px;
    }
    
    .my-profile-header .my-profile-menu ul li a span {
        font-size: 14px;
        top: auto;
        opacity: .5;
        max-width: 100%;
        white-space: normal;
        line-height: 14px;
        bottom: 85%;
    }
    .my-profile-header .header-profile .profile-img {
        font-size: 70px;
    }
    .my-profile-header .header-profile .header-profile-right {
        padding-left: 10px;
    }
    .my-profile-header .header-profile .header-profile-right {
        grid-gap: 5px;
        gap: 5px;
    }
    .my-profile-header .my-profile-menu ul li a {
        width: 100%;
        height: 100px;
    }
    .my-profile-header .my-profile-menu ul li.active a span {
        top: auto;
    }
}
