/* Top LEFT AND TITLE (TAGS) */
#event-page .detail-top-area .detail-top-area-left .detail-top-left-content ul {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 15px 0;
    gap: 15px 0;
}
ul{
    list-style: none;    
}

#event-page .detail-top-left-content ul li:last-child {
    display: flex;
    width: 100%;

}
@media (max-width: 1400px){
    #event-page .detail-top-left-contentul li {
        font-size: 14px;
    }
    #event-page .detail-top-left-content ul li svg {
        font-size: 18px;
    }
}
#event-page .detail-top-left-content ul li {
    width: 50%;
    align-items: center;
    grid-gap: 0 10px;
    gap: 0 10px;
    font-size: 16px;
    font-weight: 500;
    color: var(--white-above-gray-dark);
    display: none;
}

#event-page .detail-top-left-content ul li svg {
    font-size: 22px;
    flex-shrink: 0;
    color: var(  --white-above-orange    );
}
svg {
    width: 1em;
    height: 1em;
    display: block;
}

/* ************************************************************************* */
/* BreadCrumbs */

@media (max-width: 1400px){
    .breadcrumb {
        margin-bottom: 20px;
    }
    .breadcrumb ol li:before {
        height: 7px;
        right: 10px;
        transform: translateY(-5px) rotate(135deg);
    }
    .breadcrumb ol li:after {
        height: 7px;
        right: 10px;
        transform: translateY(0) rotate(45deg);
    }
    .breadcrumb ol li {
        font-size: 13px;
        padding-right: 20px;
    }
}

.breadcrumb {
    padding-left: 7px;
    margin-bottom: 25px;
}
.breadcrumb ol {
    display: flex;
    align-items: center;
    max-height: 100%;
    overflow: hidden;
    white-space: nowrap;
}
ol, ul {
    list-style: none;
}
.breadcrumb ol li:after {
    content: "";
    width: 2px;
    height: 9px;
    background: var(--black);
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-2px) rotate(45deg);
    border-radius: 2px;
}

.breadcrumb ol li:before {
    content: "";
    width: 2px;
    height: 9px;
    background: var(--black);
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-7px) rotate(135deg);
    border-radius: 2px;
}

.breadcrumb ol li {
    font-size: 15px;
    font-weight: 600;
    color: var(--white-above-orange);
    position: relative;
    padding-right: 30px;
    display: flex;
    align-items: center;
}
.breadcrumb ol li a {
    color: var(--black);
    text-decoration: none !important;
    transition: .3s color,.3s border-color,.3s background-color;
}
.breadcrumb ol li:last-child:before, .breadcrumb ol li:last-child:after {
    display: none;
}
.breadcrumb ol li:first-child a{
    color: var(--white-above-orange)!important;
}

.breadcrumb ol li a:hover{
    opacity: 0.5;
}
/* ************************************************************************* */

/* Summary OF EVENT */

@media (max-width: 992px)
{#event-page .detail-event-summary {
    padding: 10px 20px 20px;
}
}
@media (max-width: 1400px)
{
    #event-page .detail-event-summary {
        margin-top: 15px;
        padding: 15px 25px 25px;
    }
    #event-page .detail-event-summary .event-summary-content {
        grid-gap: 5px 0;
        gap: 5px 0;
    }
    #event-page .detail-event-summary .event-summary-content h2, #event-page .detail-event-summary .event-summary-content p, #event-page .detail-event-summary .event-summary-content li {
        font-size: 14px;
        line-height: 24px;
    }
    #event-page .detail-event-summary .summary-read-more {
        left: 25px;
    }
}

#event-page .detail-event-summary {
    background: var(--body);
    padding: 15px 20px 25px;
    position: relative;
    margin-top: 25px;
    border-radius: var(--border-radius);
}

@media (max-width: 576px)
{
    #event-page .detail-event-summary .event-summary-content {
    max-height: 70px;
}
}
@media (max-width: 992px)
{
    #event-page .detail-event-summary .event-summary-content {
        grid-gap: 3px 0;
        gap: 3px 0;
    }
    #event-page .detail-event-summary .event-summary-content h2, #event-page .detail-event-summary .event-summary-content p, #event-page .detail-event-summary .event-summary-content li {
        font-size: 13px;
        line-height: 22px;
    }
    #event-page .detail-event-summary .event-summary-content .active {
        max-height: 250px;
    }
    #event-page .detail-event-summary .summary-read-more {
        left: 20px;
        height: 27px;
        font-size: 12px;
    }
}
#event-page .detail-event-summary .event-summary-content {
    display: flex;
    flex-direction: column;
    grid-gap: 5px 0;
    gap: 5px 0;
    overflow: hidden;
    max-height: 80px;
    transition: .5s max-height;
}

#event-page .detail-event-summary .event-summary-content h2 {
    font-weight: 600 !important;
    color: var(--black);
}

#event-page .detail-event-summary .event-summary-content h2, #event-page .detail-event-summary .event-summary-content p, #event-page .detail-event-summary .event-summary-content li {
    font-size: 16px;
    font-weight: 400;
    color: var(--black);
    line-height: 27px;
    padding-right: 10px;
}

#event-page  .detail-event-summary .event-summary-content.active {
    max-height: 360px;
    overflow: auto;
    padding-right: 20px;
}

#event-page .detail-event-summary .summary-read-more.show {
    display: flex;
}
#event-page .detail-event-summary .summary-read-more:hover {
    background: var(--orange-hover);
}

#event-page .detail-event-summary .summary-read-more {
    display: none;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    background: var(--orange);
    color: var(--white);
    height: 32px;
    position: absolute;
    left: 20px;
    bottom: -12px;
    border: 0;
    padding: 0 15px;
    border-radius: 5px;
    transition: .3s background-color;
}
#event-page .detail-event-summary .event-summary-content.active+.summary-read-more:before {
    content: "DARALT";
}

#event-page .detail-event-summary .summary-read-more:before {
    content: "DEVAMI";
}
