#event-page, .detail{
    position: relative;
}
.contents-area {
    padding-top: 75px;
}
#event-page .favorite-add {
    display: flex;
    padding: 0!important;
    width: 40px!important;
    height: 40px!important;
    border-radius: 100%!important;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 10px;
    top: 10px;
    background: var(--white-background)!important;
    color: var(--orange)!important;
    z-index: 1;
}
.container{
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
}
#event-page .favorite-add {
    height: 40px;
    font-size: 14px;
    padding: 0 18px 0 24px;
}

#event-page .favorite-add.f-add {
    display: none;
}

/* Media screens */
@media  screen and (max-width: 576px){
    
    .contents-area {
        padding-top: 50px;
    }
    #event-page .favorite-add {
        display: flex;
        padding: 0!important;
        width: 40px!important;
        height: 40px!important;
        border-radius: 100%!important;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 10px;
        top: 10px;
        background: var(--white-background)!important;
        color: var(--orange)!important;
        z-index: 1;
    }
    #event-page .favorite-add.f-add {
        display: flex;
    }
    
}
@media  screen and (max-width: 768px){
    .container{
        max-width: 540px;
    }
}

@media screen and  (min-width: 1400px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1320px;
    }
    .contents-area {
        padding-top: 60px;
    }    
    #event-page .favorite-add {
        height: 40px;
        font-size: 14px;
        padding: 0 18px 0 24px;
    }    
    #event-page .poster {
        position: relative;
        top: 0;
        margin-bottom: -10px;
    }
}
@media screen and  (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1140px;
    }
    
}

@media (max-width: 1400px){

}

#event-page .poster {
    position: sticky;
    top: 15px;
    cursor: pointer;
}
.lightGallery {
    position: sticky;
    top: 15px;
}
#event-page .poster img {
    width: 100%;
    height: auto;
    border-radius:30px;
}