
#event-page, .detail{
    position: relative;
}
.contents-area {
    padding-top: 75px;
}
#event-page .favorite-add {
    display: flex;
    padding: 0!important;
    width: 40px!important;
    height: 40px!important;
    border-radius: 100%!important;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 10px;
    top: 10px;
    background: var(--white-background)!important;
    color: var(--orange)!important;
    z-index: 1;
}
.container{
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
}
#event-page .favorite-add {
    height: 40px;
    font-size: 14px;
    padding: 0 18px 0 24px;
}

#event-page .favorite-add.f-add {
    display: none;
}

/* Media screens */
@media  screen and (max-width: 576px){
    
    .contents-area {
        padding-top: 50px;
    }
    #event-page .favorite-add {
        display: flex;
        padding: 0!important;
        width: 40px!important;
        height: 40px!important;
        border-radius: 100%!important;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 10px;
        top: 10px;
        background: var(--white-background)!important;
        color: var(--orange)!important;
        z-index: 1;
    }
    #event-page .favorite-add.f-add {
        display: flex;
    }
    
}
/* @ */

@media screen and  (max-width: 1400px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1320px;
    }
    .contents-area {
        padding-top: 60px;
    }    
    #event-page .favorite-add {
        height: 40px;
        font-size: 14px;
        padding: 0 18px 0 24px;
    }    
    #event-page .poster {
        position: relative;
        top: 0;
        margin-bottom: -25px;
    }
    #event-page .cont-box  {
        padding: 20px;
        margin-bottom: 20px;
    }
    .detail-top-title {
        font-size: 26px;
    }
    #event-page .detail-top-body .detail-top-area .detail-top-area-left {
        max-width: 375px;
    }
    .seance{
        min-height: 110px;
    }
}
@media screen and  (max-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1140px;
    }
    .seance {
        min-height: 100px;
    }
    
}
ol{
    padding-left: 0!important;
}

#event-page .poster {
    position: sticky;
    top: 15px;
    cursor: pointer;
}
.lightGallery {
    position: sticky;
    top: 15px;
}
#event-page .poster img {
    width: 100%;
    height: auto;
    border-radius:20px;
}
#event-page .cont-box  {
    background:#fff;
    border-radius:20px;
    padding: 30px;
    margin-bottom: 30px;
    min-height: calc(100% - 30px);
    z-index: 2;
}

.cont-box  {
    background: #fff;
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 30px;
}

 .detail-top-title {
    font-size: 28px;
    font-weight: 600;
    color: #000;
}



@media (max-width: 992px){

    #event-page .detail-top-area .detail-top-area-left {
        width: 100%;
        max-width: 100%;
    }
}
#event-page .detail-top-area .detail-top-area-left .detail-top-title-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 0 15px;
    gap: 0 15px;
}

/* Box header tickets prices */
#event-page .cont-box .box-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
#event-page .cont-box .box-header .box-header-title {
    display: flex;
    align-items: center;
    flex: 1;
    grid-gap: 0 10px;
    gap: 0 10px;
    font-size: 24px;
    font-weight: 600;
    color: var(--black-dark);
}
#event-page .box .box-header .box-header-title-right {
    margin-left: auto;
    font-size: 18px;
    font-weight: 600;
    color: var(--black-dark);
}
#event-page .seances-area {
    display: flex;
    flex-direction: column;
    grid-gap: 10px 0;
    gap: 10px 0;
}
.seance {
    cursor: pointer;
    position: relative;
    display: flex;
    min-height: 120px;
    background: #fff;
    border: 1px solid var(--white-above-gray-light);
    border-radius: var(--border-radius);
    -webkit-user-select: none;
    user-select: none;
    transition: .3s color,.3s background-color;
}
.seance:hover {
    border-color: var(--orange);
    background: var(--light-orange);
}

