nav {
    width: 100%;
    background: var(--orangegradient);
    height: 20vh;
    overflow-x: hidden;
  }
  
  .logo {
    font-size: 2rem !important;
    line-height: 30px !important;
    padding: 0 0px !important;
    font-weight: 700 !important;
    font-family: 'Bitter', serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    color: #FFF !important;
  }
  
  nav ul {
    float: right;
    margin-right: 20px;
  }

  .nav-btn {
    width: 360px;
  }
  
  nav ul li {
    display: inline-block;
    line-height: 20px;
    padding-top: 1rem;
    margin: 0 5px;
  }
  
  nav button {
    display: inline-block;
    line-height: 30px;
    margin: 0 5px;
  }
  
  .zebby a {
    font-size: 1.5rem !important;
    padding: 0.5em;
    text-decoration: none;
    color: #fefefe;
  }
  
  .zebby a.active,
  .zebby a:hover {
    border-bottom: 2px solid #fefefe;
    transition: 0.3s;
    color: #fefefe;
  }
  
  .checkbtn {
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
.login{
  font-weight: 500!important;
  color: #fefefe !important;
  background-color: #eeab9c !important;
  border: var(--bs-btn-border-width) solid #eeab9c!important;
  font-size: 18pt !important;
  height: 70%;
}
.leftbtn{
  border-top-left-radius: 50px !important;
  border-bottom-left-radius: 50px !important;
}
.rightbtn{
  border-top-right-radius: 50px !important;
  border-bottom-right-radius: 50px !important;
}
.login:hover,
.login:active{
    font-weight: 900!important;
    color: #272d36 !important;
    background-color: #FFF !important;
    border: var(--bs-btn-border-width) solid #FFF!important;
}
  
  #check {
    display: none;
  }
  /* End Menu */